<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <title>Leopards</title>
</head>

<body>
    <main id=grid_container>

        <h1>Leopards</h1>
        <% for (var x in data) { %>
            <h4>Raw Data: <b><%= data[x] %></b></h4>
            <h4>Name: <b><%= data[x].name %></b></h4>
            <h4>CreatedAt: <b><%= data[x].createdAt %></b></h4>
            <a href="leopard/<%= data[x]._id %>">Details</a>
            <hr>
        <% } %>
        <a href="/leopard/new">Add a Leopard</a>



    </main>
</body>

</html>